$fontSizeBaseNum: 14;
$fontSizeBase: $fontSizeBaseNum * 1px;
$white: #fff;
$black2: #555859;
$black3: #797D80;
$black5: #C2C9CC;
$accent: #39BF93;
$green2: #79F2B7;
$red: #BF3962;
$blue: #3950BF;
$bodyBg: #FFFFFF;
$fontFace: 'e-Ukraine', sans-serif;


//NEW COLOR VARS
$primaryBlack: #0A0A0B;
$secondaryBlack: #4E4E56;
$primaryMain: #4050E8;
$primaryMainDarken: #1A2DDB;
$primaryMainTetriary: #EDEEFD;
$secondaryGrayMain: #4E4E56;
$secondaryGrayLabel: #898994;
$secondaryBlue: #9BD1E5;
$primaryRed: #FF6666;
$primaryRedDarken: #FF4747;
$secondaryRed: #FF9999;

